.footer-row2 .navbar-brand img{
    height:170px !important
}

.text-justify{
    text-align: justify;
}
.main-header{
    background-color: #fff;
}
.nav-bg-b .custom-nav .nav-list li a.menu-links{
    color:#050748
}

.ptb-30{
    padding : 30px 0;
}

.ptb-60{
    padding : 60px 0;
}
.digi_images{
    height: 300px !important;
    border-radius: 8px;
    /* object-fit: cover; */
}
@media (max-width: 768px) {
    .digi_images{
        width: 100%;
        height: auto !important;
        border-radius: 8px;
    }
}

/* floating action button whatsapp */
.fab-whatsapp {
    position: fixed;
    bottom: 125px;
    right: 13px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab-whatsapp img {
    width: 50px;
    height: 50px;
}

.fab-whatsapp:hover {
    background-color: #128c7e;
    /* Darker green on hover */
}

.why-choose .s-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%; /* Ensures all divs are equal height */
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    text-align: center;
}

.s-card-icon img {
    width: 200px !important; /* Increase image size */
    height: 120px; /* Maintain uniform height */
    object-fit: contain; /* Ensures proper scaling */
    margin-bottom: 15px;
}

.why-choose .row.upset {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.why-choose .col-lg {
    display: flex;
}
/* Hide Health Packages in regular nav for small screens */
@media (max-width: 768px) {
    .hideonmobile {
        display: none;
    }
    .right-end-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        /* Space between icons and links */
    }

    .health-package .menu-links {
        white-space: nowrap;
        /* Prevent line break */
        padding: 8px 12px;
        font-size: 16px;
        color: #000;
        display: inline-block;
        line-height: 1;
        /* Align vertically */
    }

    .slide-btns {
        text-align: center; /* Center align on mobile */
        margin-top: 15px;
    }

    .slide-btns .btn-main {
        display: inline-block; /* Keep the button inline and centered */
    }

}